.resume-container {
  width: 80%;
  margin: auto;
  border: 2px solid black;
  padding: 20px;
  border-radius: 6px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
  border: 1px solid black;
  width: 160px;
  height: 160px;
  margin-left: 20px;  
}

hr {
  border: none;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}

.academic {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  align-items: flex-start;
}

.title {
  width: 500px;
  font-style: italic;
}

.colon {
  width: 100px;
}

.details {
  flex: 1;
}

ul {
  padding-left: 20px;
}

.skills {
  padding-left: 35px;
}

.change-color {
  background-color: rgb(134, 159, 173);
  box-shadow: 6px 6px 2px black;
  color: white;
  border: none;
  height: 50px;
  width: 105px;
  border-radius: 3px;
  cursor: pointer;
  justify-content: center;
  margin-top: 20px;
  margin-left: 655px;
}
